!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}
    %meta{:content => "Fashion Tupri", :name => "keywords"}/
    %meta{:content => "Tupri - Fashion Disaster", :name => "description"}
    %meta{:content => "Jolly & Menisy", :name => "author"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    / Google Fonts
    %link{:href => "http://fonts.googleapis.com/css?family=Raleway:400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300", :rel => "stylesheet", :type => "text/css"}
    = render partial: 'spree/shared/head'
    = stylesheet_link_tag 'application', media: 'all'

    %script{:src => "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"}
    %script{:src => "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"}
    %title Tupri
    = csrf_meta_tags
  %body
    #page
      = render partial: 'spree/shared/header'
      / Begin Login
      .login-wrapper
        %form#form-login{:role => "form"}
          %h4 Login
          %p If you're a member, login here.
          .form-group
            %label{:for => "inputusername"} Username
            %input#inputusername.form-control.input-lg{:placeholder => "Username", :type => "text"}
          .form-group
            %label{:for => "inputpassword"} Password
            %input#inputpassword.form-control.input-lg{:placeholder => "Password", :type => "password"}
          %ul.list-inline
            %li
              %a{:href => "#"} Create new account
            %li
              %a{:href => "#"} Request new password
          %button.btn.btn-white{:type => "submit"}
            Log in
      / End Login
      .main{:role => "main"}
        .container
          .row
            = yield
      / Begin footer
    = render partial: 'spree/shared/footer'
    / End footer
    / Begin Quickview
    = @products.each do |product|
      = render partial: 'spree/shared/product_details', locals: {prod: product}
    / End Quickview
    / Begin Search
    = render partial: 'spree/shared/search'
    / End Search
    = javascript_include_tag 'application'




