.main{:role => "main"}
  / Begin Main Slide
  %section.main-slide
    #owl-main-demo.owl-carousel.main-demo
      #item1.item
        = image_tag "content/slides/slider1.jpg", class: "img-responsive"
        .item-caption
          .item-caption-inner
            .item-caption-wrap
              %p.item-cat
                %a{:href => "#"} Fall/Winter 2014
              %h2
                Up to 50% off
                %br on selected items
              %a.btn.btn-white.hidden-xs{:href => "#"} Shop Now
      #item2.item
        = image_tag "content/slides/slider2.jpg", class: "img-responsive"
        .item-caption
          .item-caption-inner
            .item-caption-wrap
              %p.item-cat
                %a{:href => "#"} Top
              %h2
                25% off
                %br for pink swim
              %a.btn.btn-white.hidden-xs{:href => "#"} Shop Now
      #item3.item
        = image_tag "content/slides/slider3.jpg", class: "img-responsive"
        .item-caption
          .item-caption-inner
            .item-caption-wrap
              %p.item-cat
                %a{:href => "#"} Panties
              %h2
                Free shipping
                %br on $50 plus $20
              %a.btn.btn-white.hidden-xs{:href => "#"} Shop Now
  / End Main Slide
  / Begin Ads
  %section.ads
    .container
      .row
        .col-xs-4.animation
          %a{:href => "#"}
            = image_tag "content/products/ad-1.png", class: "img-responsive"
        .col-xs-4.animation
          %a{:href => "#"}
            = image_tag "content/products/ad-2.png", class: "img-responsive"
        .col-xs-4.animation
          %a{:href => "#"}
            = image_tag "content/products/ad-3.png", class: "img-responsive"
  / End Ads
  / Begin Top Selling
  %section.products-slide
    .container
      %h2.title
        %span Top Selling
      .row
        #owl-product-slide.owl-carousel.product-slide
          - @products.each do |product|
            .col-md-12.animation
              .item.product
                %a{:href => "shop-product-detail1.html"}
                  %span.bag.bag-hot Hot
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/#{product.variants.first.images.first.attachment_file_name}", class: "img-responsive"
                    / = image_tag(@products.find(1).variants.first.images.first.attachment.url(:single)), class: "img-responsive"

                  .product-thumb-info-content
                    %span.price.pull-right
                      = product.variants.first.price.to_f  
                    %h4
                      %a{:href => "shop-product-detail2.html"} 
                        = product.name
                    %span.item-cat
                      %small
                        %a{:href => "#"} Dress
          
  / End Top Selling
  / Begin Lookbook Women
  %section#lookbook
    .container
      .lookbook
        %h2
          %a{:href => "#"} Lookbook Women
        %p Etiam aliquam risus ante, quis ultrices enim porta a. Integer et dolor sit amet enim feugiat faucibus. Donec sit amet egestas orci. Proin facilisis mi ornare turpis sollicitudin; vel rutrum est viverra. Vestibulum hendrerit egestas semper.
  / End Lookbook Women
  / Begin New Products
  %section.product-tab
    .container
      %h2.title
        %span New Products
      / Nav tabs
      %ul.nav.nav-tabs.pro-tabs.text-center.animation{:role => "tablist"}
        %li.active
          %a{"data-toggle" => "tab", :href => "#man", :role => "tab"} Dresses
        %li
          %a{"data-toggle" => "tab", :href => "#woman", :role => "tab"} Skirts
        %li
          %a{"data-toggle" => "tab", :href => "#accesories", :role => "tab"} Tonics
      / Tab panes
      .tab-content
        #man.tab-pane.active
          .row
            .col-xs-6.col-sm-3.animation
              .product
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/darkRedDress.jpeg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 380 EGP
                    %h4
                      %a{:href => "shop-product-detail2.html"} Loose Drak Red Dress
                    %span.item-cat
                      %small
                        %a{:href => "#"} Dresses
            .col-xs-6.col-sm-3.animation
              .product
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/offwhiteDress.jpeg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 289.99 EGP
                    %h4
                      %a{:href => "shop-product-detail2.html"} OffWhite Dress with black Lace
                    %span.item-cat
                      %small
                        %a{:href => "#"} Dresses
            .col-xs-6.col-sm-3.animation
              .product
                %a{:href => "shop-product-detail1.html"}
                  %span.bag.bag-new New
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/black-tonic.jpg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 250 EGP
                    %h4
                      %a{:href => "shop-product-detail2.html"} Black Chiffon Tonic
                    %span.item-cat
                      %small
                        %a{:href => "#"} Tonics
            .col-xs-6.col-sm-3.animation
              .product
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/black-dress.jpg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 400 EGP
                    %h4
                      %a{:href => "shop-product-detail2.html"} Basic long sleeves Black Dress
                    %span.item-cat
                      %small
                        %a{:href => "#"} Dresses
          .row
            .col-xs-6.col-sm-3.animation
              .product
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/black-skirt.jpg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 290.99 EGP
                    %h4
                      %a{:href => "shop-product-detail2.html"} Back Maxi
                    %span.item-cat
                      %small
                        %a{:href => "#"} Skirts
            .col-xs-6.col-sm-3.animation
              .product
                %a{:href => "shop-product-detail1.html"}
                  %span.bag.bag-hot Hot
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/pailYellowSkirt.jpg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 200 EGP
                    %h4
                      %a{:href => "shop-product-detail2.html"} Pail Yellow Summer Skirt
                    %span.item-cat
                      %small
                        %a{:href => "#"} Skirts
            .col-xs-6.col-sm-3.animation
              .product
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/darkGreenDress.jpeg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 400 EGP
                    %h4
                      %a{:href => "shop-product-detail2.html"} Dark Green Long Sleeves Dress
                    %span.item-cat
                      %small
                        %a{:href => "#"} Dress
            .col-xs-6.col-sm-3.animation
              .product
                %a{:href => "shop-product-detail1.html"}
                  %span.bag.bag-cool Cool
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/darkRed-Skirt.jpg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 300 EGP
                    %h4
                      %a{:href => "shop-product-detail2.html"} Maxi Chiffon Dark Red Skirt
                    %span.item-cat
                      %small
                        %a{:href => "#"} Skirts
                   
          .row
            .col-xs-6.col-sm-3.animation
              .product
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/darkRedDress.jpeg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 380 EGP
                    %h4
                      %a{:href => "shop-product-detail2.html"} Loose Drak Red Dress
                    %span.item-cat
                      %small
                        %a{:href => "#"} Dresses
            .col-xs-6.col-sm-3.animation
              .product
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/offwhiteDress.jpeg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 289.99 EGP
                    %h4
                      %a{:href => "shop-product-detail2.html"} OffWhite Dress with black Lace
                    %span.item-cat
                      %small
                        %a{:href => "#"} Dresses
            .col-xs-6.col-sm-3.animation
              .product
                %a{:href => "shop-product-detail1.html"}
                  %span.bag.bag-new New
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/black-tonic.jpg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 250 EGP
                    %h4
                      %a{:href => "shop-product-detail2.html"} Black Chiffon Tonic
                    %span.item-cat
                      %small
                        %a{:href => "#"} Tonics
            .col-xs-6.col-sm-3.animation
              .product
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/black-dress.jpg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 400 EGP
                    %h4
                      %a{:href => "shop-product-detail2.html"} Basic long sleeves Black Dress
                    %span.item-cat
                      %small
                        %a{:href => "#"} Dresses             
        #woman.tab-pane
          .row
            .col-xs-6.col-sm-3.animation
              .product
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/product-9.jpg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 69.99 USD
                    %h4
                      %a{:href => "shop-product-detail2.html"} Classic blazer
                    %span.item-cat
                      %small
                        %a{:href => "#"} Outerwear
            .col-xs-6.col-sm-3.animation
              .product
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/product-10.jpg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 39.99 USD
                    %h4
                      %a{:href => "shop-product-detail2.html"} Striped full skirt
                    %span.item-cat
                      %small
                        %a{:href => "#"} Skirts
            .col-xs-6.col-sm-3.animation
              .product
                %a{:href => "shop-product-detail1.html"}
                  %span.bag.bag-onsale Sale
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/product-11.jpg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 79.99 USD
                    %h4
                      %a{:href => "shop-product-detail2.html"} Structured double-breasted blazer
                    %span.item-cat
                      %small
                        %a{:href => "#"} Outerwear
            .col-xs-6.col-sm-3.animation
              .product
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/product-12.jpg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 29.99 USD
                    %h4
                      %a{:href => "shop-product-detail2.html"} Sheer overlay dress
                    %span.item-cat
                      %small
                        %a{:href => "#"} Dresses
          .row
            .col-xs-6.col-sm-3.animation
              .product
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/product-13.jpg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 49.99 USD
                    %h4
                      %a{:href => "shop-product-detail2.html"} Printed cape dress
                    %span.item-cat
                      %small
                        %a{:href => "#"} Dresses
            .col-xs-6.col-sm-3.animation
              .product
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/product-14.jpg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 49.99 USD
                    %h4
                      %a{:href => "shop-product-detail2.html"} Embroidered sleeveless jumpsuit
                    %span.item-cat
                      %small
                        %a{:href => "#"} Dresses
            .col-xs-6.col-sm-3.animation
              .product
                %a{:href => "shop-product-detail1.html"}
                  %span.bag.bag-onsale Sale
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/product-15.jpg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 19.99 USD
                    %h4
                      %a{:href => "shop-product-detail2.html"} V-Neck top
                    %span.item-cat
                      %small
                        %a{:href => "#"} Tops
            .col-xs-6.col-sm-3.animation
              .product
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/product-16.jpg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 25.99 USD
                    %h4
                      %a{:href => "shop-product-detail2.html"} Knit top with jewelled neckline
                    %span.item-cat
                      %small
                        %a{:href => "#"} Knitwear
        #accesories.tab-pane
          .row
            .col-xs-6.col-sm-3.animation
              .product
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/product-17.jpg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 59.99 USD
                    %h4
                      %a{:href => "shop-product-detail2.html"} Gold chrono watch
                    %span.item-cat
                      %small
                        %a{:href => "#"} Accessories
            .col-xs-6.col-sm-3.animation
              .product
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/product-18.jpg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 7.99 USD
                    %h4
                      %a{:href => "shop-product-detail2.html"} Long earrings
                    %span.item-cat
                      %small
                        %a{:href => "#"} Accessories
            .col-xs-6.col-sm-3.animation
              .product
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/product-19.jpg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 19.99 USD
                    %h4
                      %a{:href => "shop-product-detail2.html"} Braided belt
                    %span.item-cat
                      %small
                        %a{:href => "#"} Belts
            .col-xs-6.col-sm-3.animation
              .product
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/product-20.jpg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 79.99 USD
                    %h4
                      %a{:href => "shop-product-detail2.html"} Leather bucket bag with zip
                    %span.item-cat
                      %small
                        %a{:href => "#"} Handbags
          .row
            .col-xs-6.col-sm-3.animation
              .product
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/product-21.jpg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 15.99 USD
                    %h4
                      %a{:href => "shop-product-detail2.html"} Floral tie
                    %span.item-cat
                      %small
                        %a{:href => "#"} Ties and Bow Ties
            .col-xs-6.col-sm-3.animation
              .product
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/product-22.jpg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 9.99 USD
                    %h4
                      %a{:href => "shop-product-detail2.html"} Zigzag pattern cap
                    %span.item-cat
                      %small
                        %a{:href => "#"} Caps and Hats
            .col-xs-6.col-sm-3.animation
              .product
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/product-23.jpg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 15.99 USD
                    %h4
                      %a{:href => "shop-product-detail2.html"} Double chain necklace
                    %span.item-cat
                      %small
                        %a{:href => "#"} Accessories
            .col-xs-6.col-sm-3.animation
              .product
                .product-thumb-info
                  .product-thumb-info-image
                    %span.product-thumb-info-act
                      %a.view-product{"data-target" => ".quickview-wrapper", "data-toggle" => "modal", :href => "javascript:void(0);"}
                        %span
                          %i.fa.fa-external-link
                      %a.add-to-cart-product{:href => "shop-cart-full.html"}
                        %span
                          %i.fa.fa-shopping-cart
                    = image_tag "content/products/product-24.jpg", class: "img-responsive"
                  .product-thumb-info-content
                    %span.price.pull-right 7.99 USD
                    %h4
                      %a{:href => "shop-product-detail2.html"} Chain necklace
                    %span.item-cat
                      %small
                        %a{:href => "#"} Accessories
  / End New Products
  / Begin Parallax
  %section.pi-parallax{"data-stellar-background-ratio" => "0.6"}
    .container
      #owl-text-slide.owl-carousel
        .item
          %blockquote
            %p Design is a funny word. Some people think design means how it looks. But of course, if you dig deeper, it’s really how it works.
            %footer
              by
              %cite{:title => "Steve Jobs"} Steve Jobs
        .item
          %blockquote
            %p They may forget what you said, but they will never forget how you made them feel.
            %footer
              by
              %cite{:title => "Steve Jobs"} Carl W. Buechner
  / End Parallax
/ End Main


